{% extends 'base.html' %}

{%  block content %}
<div class="ocr-container">
  <form method="post" class="ocr-form" id="ocrForm">
    {% csrf_token %}
    {{ form }}
  </form>

  <button onclick="make_api_request()">Make api request</button>

  <p class="ocr-result">
    <textarea id="responseContent" readonly>{{ image.content }}</textarea>
  </p>
</div>
<script>
const CSRF_TOKEN = "{{ csrf_token }}";

function make_api_request() {
    const payload = {
        url: $("#id_url").val(),
        language: $("#id_language").val(),
        enforceProcess: $("#id_enforce_process").is(':checked')
    };

    $.ajax({
        type: "POST",
        url: "http://localhost:8000/api/ocr-process/",
        headers: {
            'X-CSRFToken': CSRF_TOKEN,
            'Content-Type': 'application/json'
        },
        data: JSON.stringify(payload),
        success: (response) => {
            console.log('success:', response);
            $("#responseContent").val(response.content);
        },
        error: (err) => {
            console.log(err)
            alert(JSON.stringify(err.responseJSON));
        },
        dataType: "json"
    })
}
</script>
{% endblock %}