{% extends 'base.html' %}

{%  block content %}
    {{ image }}
<div class="ocr-container">
  <form method="post" class="ocr-form" id="ocrForm">
    {% csrf_token %}
    {{ form }}
  </form>
  <button id="make-request-button" class="ocr-form" onclick="startProcessClick()">Make api request</button>


  <div class="loader" id="loader"></div>

  <div class="ocr-result" id="ocrResult">
    <div class="task-id">Image id: <span id="imageId"></span></div>
    <textarea id="responseContent" readonly>{{ image.content }}</textarea>
  </div>
</div>
<script>
const CSRF_TOKEN = "{{ csrf_token }}";

function setContent(content) {
    $("#loader").hide();
    $("#ocrResult").show();
    $("#responseContent").val(content);
}

function setImagePath(id) {
  const match = window.location.href.match(/\/(?<name>\d)\/?/)
  console.log("setImagePath", match)
  {#window.location.replace(`${window.location.href}${id}/`);#}
}

function getTaskResult(imageId) {
    $.ajax({
        type: "GET",
        url: `{{ backend_url }}{% url 'ocr_process' %}${imageId}/`,
        headers: {
            'X-CSRFToken': CSRF_TOKEN,
            'Content-Type': 'application/json'
        },
        success: (response) => {
            if (response.state === "PENDING")
                setTimeout(() => {getTaskResult(imageId)}, 2000);
            else setContent(response.content);
        },
        error: (err) => {
            console.log(err)
            alert(JSON.stringify(err.responseText));
        },
        dataType: "json"
    })
}

function startProcessRequest(payload) {
    $("#loader").show();
    $.ajax({
        type: "POST",
        url: "{{ backend_url }}{% url 'ocr_process' %}",
        headers: {
            'X-CSRFToken': CSRF_TOKEN,
            'Content-Type': 'application/json'
        },
        data: JSON.stringify(payload),
        success: (response) => {
          const id = response.id;
            $("#imageId").text(id);
            setImagePath(id)
            getTaskResult(id)
        },
        error: (err) => {
            console.log(err)
            alert(JSON.stringify(err.responseText));
        },
        dataType: "json"
    })
}

function startProcessClick() {
    $("#make-request-button").toggle()
    const payload = {
        url: $("#id_url").val(),
        language: $("#id_language").val(),
        enforceProcess: $("#id_enforce_process").is(':checked')
    };
    startProcessRequest(payload);
}

function initialSetup() {
    $("#loader").hide();
    $("#ocrResult").show();
}

initialSetup();
</script>
{% endblock %}