.ocr-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ocr-form {
    width: 30%;
}

.ocr-container .ocr-form {
    display: flex;
    flex-direction: column;
}

.ocr-result {
    display: block;
    width: 100%;
    height: 300px;
}

.ocr-result textarea {
    width: 100%;
    height: 100%;
}